* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color:#F5F5F5;
}
* { box-sizing: border-box;}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.table-header {
  background-color: #a0a0a0;
}

ul {
list-style-type: none;
}
/* .shaded_row { background-color: lightgray;} */
table, th, td {  border: 1px solid black; border-collapse: collapse; }

.info_table { margin: 25px 2.5% 75px; }

.page_header {margin:25px 50% 20px; text-align: center; }

